{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">

<div class="container-fluid" align="center">



</div>

<br> <br> <br>

<div class="jumbotron" align="left">
<div class="hi"
  <p> <u> Instructions:  </u> </p>
  <ul>
    <li>   You’ll have a deck of cards containing some Exploding Kittens. You play the game by putting the deck face down and taking turns drawing cards off the top until someone draws an Exploding Kitten. </li>
    <li>   Diffuse cards are the only cards that can save you from Exploding Kittens. If you play a Defuse card after drawing an Exploding Kitten, instead of getting exploded, the kitten is placed back in the deck. </li>
    <li>  All of the other cards can be used to lessen your chances of getting exploded by an exploding kitten.
    </ul>
</div>
  </div>

  <br> <hr> <br>
  <div class="container">
    <h1> CARDS </h1>

    <table class="table table-hover" >
      <thead>
        <tr>
          <th>Card </th>
          <th>Description</th>
          <th>Additional Notes</th>


        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="polaroid">
              <img src="../static/images/attack.png" alt="Diffuse" style="width:60%">
              <div class="container">
                <p>Attack</p>
              </div>
            </div>
          </td>
          <td> Ends your turn without drawing a card. Forces the next player to take two turns </td>
          <td>  </td>
        </tr>
        <tr>
          <td>
            <div class="polaroid">
              <img src="../static/images/diffuse.png" alt="Diffuse" style="width:80%">
              <div class="container">
                <p>Diffuse</p>
              </div>
            </div>
          </td>
          <td> Secretly put your last drawn card back ino the draw pile </td>
          <td> There are three diffuses in the game: one for each player and one drawable diffuse in the deck. </td>
        </tr>
        <tr>
          <td>
            <div class="polaroid">
              <img src="../static/images/drawfrombottom.png" alt="Diffuse" style="width:80%">
              <div class="container">
                <p>Draw from Bottom</p>
              </div>
            </div>
          </td>
          <td> End your turn by drawing the card at the bottom of the draw pile! </td>
          <td> Used if you know that the exploding kitten is the top card. </td>
        </tr>
        <tr>
          <td>
            <div class="polaroid">
              <img src="../static/images/explodingkitten.png" alt="Diffuse" style="width:80%">
              <div class="container">
                <p>Exploding Kittens</p>
              </div>
            </div>
          </td>
          <td> Show the card immediately </td>
          <td> If you draw this card and cannot use a diffuse, you lose the game. </td>
        </tr>
        <tr>
          <td>
            <div class="polaroid">
              <img src="../static/images/favor.png" alt="Diffuse" style="width:80%">
              <div class="container">
                <p>Favor</p>
              </div>
            </div>
          </td>
          <td> One player must give you a card of their choice. </td>
          <td>  </td>
        </tr>
        <tr>
          <td>
            <div class="polaroid">
              <img src="../static/images/reverse.png" alt="Diffuse" style="width:80%">
              <div class="container">
                <p>Reverse</p>
              </div>
            </div>
          </td>
          <td> Reverse the order of play and end your turn without drawing a card </td>
          <td> </td>
        </tr>
        <tr>
          <td>
            <div class="polaroid">
              <img src="../static/images/shuffle.png" alt="Diffuse" style="width:80%">
              <div class="container">
                <p>Shuffle</p>
              </div>
            </div>
          </td>
          <td> Shuffles the draw pile </td>
          <td> Useless if there is only one card left (the exploding kitten) </td>
        </tr>
        <tr>
          <td>
            <div class="polaroid">
              <img src="../static/images/skip.png" alt="Diffuse" style="width:80%">
              <div class="container">
                <p>Skip</p>
              </div>
            </div>
          </td>
          <td> Ends your turn without drawing a card </td>
          <td> Exploding Kitten </td>
        </tr>


      </tbody>
    </table>
  </div>


  {% endblock %}
