{% extends "base.html" %}
{% block content %}
<div class="container-fluid" align="center">
  <svg style="border: 1px solid;" width="1200" height="600" id="play_area2">

  </svg>
</div>

 <script src="../static/js/deck.js"></script>
{% endblock %}


<!-- #
# if command["op"] in things_to_implement:
#     op = command["op"]
#     args = command["args"]
#
#     if op in shapes:
#         if command["constants"]:
#             reflect = command["constants"]
#         else:
#             reflect = ".white"
#
# if command["op"] in things_to_implement:
#     op = command["op"]
#     args = command["args"]
#
#     if op in shapes:
#         if command["constants"]:
#             reflect = command["constants"]
#         else:
#             reflect = ".white" -->
