.jumbotron{
  margin-left:23%;
  margin-right:23%;
}


p {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px
}

tr {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px
}

img{
  height: 140px
}

div.polaroid {
  width: 80%;
  height: 210%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.hi{
  font-family: "Courier New", Courier, monospace;
  font-size: 24px
}

svg{
  border: 10px solid; background-image: url("../images/wood.png");

}

/* table{
  background-color: white;
} */
body {
border: 2px solid black;
background: url(https://us.123rf.com/450wm/cnuisin/cnuisin1901/cnuisin190100345/116527582-cat-seamless-pattern-vector-kitten-cartoon-halloween-isolated-tile-background-repeat-wallpaper.jpg?ver=6);
background-repeat: repeat;
background-size: auto;
}



.ranks{
  background-color: beige;
  border: 1px solid black;
}
